@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

 body {
  position: relative;
  background-color: #E5E5E5;
  font-family: 'Roboto', sans-serif;
}
.logo{
    height: 2rem;
    margin-right: 1rem;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: white;
}

nav a {
  text-decoration: none;
  color: black;
}

nav h1 {
  font-size: 32px;
}

nav .logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

nav .logo img {
  width: 30px;
  height: 30px;
}

nav .search button {
  background-color: transparent;
  border: 2px solid #0a0a0a;
  cursor: pointer;
  padding: 0.3rem 1.1rem;
  border-radius: 20px;
  font-size: 20px;
}

nav .search button:hover {
  background-color: #FCA311;
  color: white;
  transition: all 0.2s ease;
}
#searchForm{
    text-align: center;
}
.top-coins{
   overflow: hidden;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.main h2 {
  margin-bottom: 0.5rem;
  font-size: 10px;
}

.main .main-img {
  height: 670px;
  width: 637px;
}

.main-img img {
  width: 100%;
  height: 100%;
}

.top-coins h1{
  color:#FCA311;
  font-size:30px;
}

.card{
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 5px;
  padding: 0rem 1rem;
  background-color: white;
  cursor: pointer;
  text-align: justify;
  margin-bottom: 10%;
}

footer{
    display: flex;
    text-align: center;
    padding: 10px 20px;
    align-items: center;
    border-radius: 5px;
    bottom: 0;
    position: absolute;
    width: calc(100% - 2rem);
    background-color:white;
    justify-content: space-between;
    margin-bottom: 10px;
}
.footer-image {
    height: 1.5rem;
}
 #main-title {
  cursor: pointer;
} 