
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

 body {
  position: relative;
  background-color: #E5E5E5;
  font-family: 'Roboto', sans-serif;
}
.details-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    /* margin: 5rem 0; */
}

.price-range h2, .history{
    color: #FCA311;
}

.details-cont .details-logo img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    
}

main {
    min-height: 100vh;
}

.details-cont .price-range {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.descrip {
    width: 90%;
}

.descrip p{
    line-break: auto;
    line-height: 1.5rem;
    word-spacing: 1px;
}

.details-cont .price-range .price-range-value{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.details-info  {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.history {
    margin-left: 2rem;
}
footer{
    display: flex;
    text-align: center;
    padding: 10px 20px;
    align-items: center;
    border-radius: 5px;
    position: absolute;
    width: calc(100% - 2rem);
    background-color:white;
    justify-content: space-between;
}
.footer-image {
    height: 1.5rem;
}

@media screen and (max-width: 460px){
    .details-cont {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}