@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
 position: relative;
 background-color: #E5E5E5;
 font-family: 'Roboto', sans-serif;
}
 .flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .main-img {
    width: 75%;
  }
  
  .flex-horizontal {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    animation: slide 10s linear infinite alternate;
    position: relative;
  }
  
  .card-image {
    height: 3rem;
    padding: 0.5rem 1rem 0.5rem;
  }
  
  .card {
    min-width: 19rem;
  }
  .card text{
    color: #333;
    font-size: 5px;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  .card:hover {
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  @keyframes slide {
    0% {
      right: 0px;
    }
  
    100% {
      right: 100%;
    }
  }
  
  
  .top-coins {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  } 
  
