


 

 
 @import url("https://fonts.googleapis.com/css?family=Roboto:400");
 html, body {
   height: 100%;
 }
 body {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #615c6d;
   margin: 0;
  }
 form {
   width: 100%;
  }
  #clear{
    background-color:lightsalmon;
  } 
  input {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background-color: rgb(29, 68, 10);
        color: rgb(121, 118, 118);
    }
    input[type="button"], input[type="reset"] {
      background-color:rgb(227, 221, 221);
      border: 2px solid #333;
      border-radius: 50px;
      color: black;
      width: 69px;
      cursor: pointer;
      height: 69px;
      margin: 0 3px 6px 0;
      font-size: 20px;
      outline: none;
      transition: all 300ms ease;
    }
     input[type="button"]:hover, input[type="reset"]:hover {
       background-color: #6f6e6e;
       color: white;
      } 
      input[type="button"]:active, input[type="reset"]:active {
        background-color:#444;
      }
      input[type="textfield"] {
        width: 100%;
        padding: 5px;
        font-size: 27px;
        outline: none;
        float: inline-end;
        margin-bottom: 30px;
        border: none;
        border-radius: 4px;
        box-shadow: 0 0 0 3px #949494;
        transition: all 0.3s ease;
      }
      .calc {
      border: 1px solid #555;
      border-radius: 10px;
	    padding: 20px 20px;
	    width: 302px;
      margin: 0 auto;
      background-color: rgb(49, 48, 48);
	    animation: rotar 3s 1;
	    box-shadow: 0 0 16px #0000006b;
    }
   input.plus,input.minus,input.multi,input.divi{
     background-color: #742b2b;
     color: white;
     font-size: 30px;
    }
    input.plus:hover,input.minus:hover,input.multi:hover,input.divi:hover{
      background-color: #5c1717;
      color: white;
    }
    input.equals{
      background-color:#4CAF50;
      color: white;
      font-size: 30px;
    }




    @keyframes rotar {
      0% {
          opacity: 0;
          transform: perspective(800px) rotateY(-90deg) scale(0.5);
      }
      50% {
          opacity: 0.5;
          transform: perspective(800px) rotateY(0deg) scale(1.1);
      }
      100% {
          opacity: 1;
          transform: perspective(800px) rotateY(0deg) scale(1);
      }
  }
  


























    
    /* * {
        box-sizing: border-box;
      }
      
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
      }
      
      .calculator {
        width: 320px;
        border-radius: 8px;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
        overflow: hidden;
      }
      
      .display {
        background-color: #333;
        color: #fff;
        font-size: 2em;
        text-align: right;
        padding: 20px;
        min-height: 80px;
        overflow: hidden;
      }
      
      .buttons {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
      }
      
      button {
        font-size: 1.5em;
        padding: 20px;
        border: 1px solid #ddd;
        background-color: #f9f9f9;
        cursor: pointer;
      }
      
      button:hover {
        background-color: #ddd;
      }
      
      button:active {
        background-color: #ccc;
      }
      
      button#equals {
        background-color: #4CAF50;
        color: white;
        grid-column: span 2;
      }
      
    
    
     */
    
    
    
    
    
    
    
    
    
    
    
     
     
    
