body {
    /* font-family: "Helvetica ", sans-serif; */
    font-family:cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #54a099;
    margin: 0;
}

.container {
    text-align: center;
    /* background: #fff; */
    background-color: aliceblue;
    padding: 20px;
    border-radius: 8px;
    height: 50%;
    width: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}
.container:hover{
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.75);
    transform: scale(1.1);
    /* background-color:rgb(103, 165, 232); */
    border: 5px solid black;

}


h1 {
    /* margin-bottom: 20px; */
    font-size: 40px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 10px;
}

input[type="date"] {
    padding: 10px;
    margin-right: 30px;
    margin-bottom: 20px;
    /* border: 3px solid rgb(11, 17, 57)1; */
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
}

button {
    padding: 10px 20px;
    background-color: rgb(124, 72, 172);
    color: white;
    font-family: cursive;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

button:hover {
    /* border: 3px solid rgb(164, 160, 160); */
    background-color: rgb(96, 10, 177);
}

/*  */
/* #result { */
    /* margin-bottom: 40px; */
    /* font-size: 1.2em;
    font-weight: 700;
    color:rgb(20, 51, 125); */
/* } */
#result{
    /* width: 100%; */
    display: flex;
    display: inline-flex;
    gap: 30px;
    font-size: larger;
    font-weight: 700;
    /* justify-content: space-between; */
}



/* Media queries for responsiveness */
@media (max-width: 600px) {
    h1 {
        font-size: 1.5em;
    }

    input[type="date"],
    button {
        font-size: 0.9em;
    }

    .container {
        padding: 15px;
        width: 100%;
    }
}