body {
  display: flex;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  min-height: 100vh;
  justify-content: center;
  color: darkgreen;
  margin: 0;
  align-items: center;
}

.container {
  padding: 20px;
  width: 85%;
  max-width: 400px;
  background: rgba(145, 202, 130, 0.3);
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
}
.container:hover{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.rate-container {
  display: flex;
  padding: 20px 0;
}
.heading {
  margin: 5px;
  font-size: 30px;
}

.rating {
  cursor: pointer;
  padding: 10px;
  margin: 10px 5px;
}

.rating:hover,
.rating.active
{
  background: rgb(94, 181, 94);
  border-radius: 10px;
  transform: perspective(800px) rotateY(40deg);
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
  color: aliceblue;
  transition: all 300ms ease;
}

.btn {
  background-color: rgb(37, 96, 68);
  color: aliceblue;
  border: 0;
  margin: 10px;
  border-radius: 4px;
  padding: 12px 30px;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 300ms ease;
}

.btn:active {
  transform: scale(1.2);
}

.rating img {
  width: 40px;
}


