* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #101010;
}

.container {
  text-align: center;
}


h1 {
  font-size: 2.5rem;
  color: #c3bcbc;
  margin-bottom: 20px;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 10px;
  margin-bottom: 20px;
  border-radius: 20PX;
  background-color: rgb(154, 89, 89);
  border: 10px solid rgb(142, 142, 33);
  padding: 20PX;
}


.cell {
  width: 100px;
  height: 100px;
  background-color: #d4d2d2;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #333;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.2s;
}

.cell:hover {
  background-color: #f1f1f1;
}

.cell.X {
  color: #3498db;
  font-weight: bold;
  animation: bounce 0.3s;
}

.cell.O {
  color: #e74c3c;
  font-weight: bold;
  animation: bounce 0.3s;
}

#resetButton {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  color: #fff;
  background-color: #3ca519;
  transition: background-color 0.3s;
}

#resetButton:hover {
  background-color: #555;
}

#message {
  margin-top: 20px;
  font-size: 1.8rem;
  font-weight: bold;
  color: #bab8b8;
}

@keyframes bounce {
  0% { transform: scale(0.9); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.win {
  background-color: #a3e4d7;
  animation: winAnimation 0.8s infinite alternate;
}

@keyframes winAnimation {
  0% { transform: scale(1); }
  100% { transform: scale(1.1); }
}








   